@charset "utf-8";

body {
  width: 400px;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.red {
  position: relative;
  height: 100px;
  background: #ff0000;
}
.white {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #ffffff;
}
.right {
  width: 40px;
  height: 40px;
  float: right;
  margin: 10px;
}

.puple1, .puple2, .puple3 {
  background: #a9004b;
}
